<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
  <display-name>Fupload</display-name>
   
  <servlet>
    <display-name>Fupload</display-name>
    <servlet-name>Fupload</servlet-name>
    <servlet-class>edu.virginia.lib.fupload.Fupload</servlet-class>
    <init-param>
	<param-name>upload_dir</param-name>
	<param-value>/shanti</param-value>
    </init-param>
    <init-param>
	<param-name>convert_bin</param-name>
	<param-value>/usr/bin/convert</param-value>
    </init-param>
  </servlet>
   
  <servlet>
    <display-name>Prune</display-name>
    <servlet-name>Prune</servlet-name>
    <servlet-class>edu.virginia.lib.fupload.Prune</servlet-class>
    <init-param>
	<param-name>upload_dir</param-name>
	<param-value>/shanti</param-value>
    </init-param>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>Fupload</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
     
  <servlet-mapping>
    <servlet-name>Prune</servlet-name>
    <url-pattern>/pruneFile</url-pattern>
  </servlet-mapping>
     
  <welcome-file-list>
    <welcome-file>upload.jsp</welcome-file>
  </welcome-file-list>
</web-app>
